@tailwind base;
@tailwind components;

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.btn-control {
    @apply rounded-full text-xs py-1 px-3 border-b-2 uppercase
}

.btn-control:hover {
    @apply bg-gray-700 scale-110
}

.camera__top {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.level__mark {
    transition: transform ease .25s;
}

body {
    margin: 0;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.camera .body {
    background: #333;
    padding: 1rem;
    border-radius: .25rem;
}

.camera .body img {
    position: absolute;
    transition: filter ease .25s;
}

.camera .body .screen {
    height: 500px;
    width: 500px;
    border-radius: .25rem;
    overflow: hidden;
    position: relative;
}

.camera .base-img {
    clip: rect(0px, 500px, 500px, 0px);
}

.diaphragm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 151px;
    text-align: center;
    background-image: url(../assets/aperture.png), radial-gradient(circle, rgba(103,103,103,1) 10%, rgba(37,37,37,1) 60%);
    background-color: #373737;
    border-radius: 50%;
    transition: transform ease .25s;
}

.diaphragm .aperture {
    background-color: #FFF;
    transition: transform ease .25s;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.exposure-meter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.exposure-meter .arrow {
    width: 10px;
    height: 15px;
    background: #373737;
    border-radius: .15rem;
}

button {
    border: #FFF solid 1px;
    border-radius: 1rem;
    color: #FFF;
    font-weight: bold;
    background: transparent;
    padding: .35rem 1rem;
    font-size: 1rem;
}

button.active {
    background: #FFF;
    color: #667eea;
}

button ~ button {
    margin-top: .5rem;
}

@tailwind utilities;